---
import LeaveNoTraceSmall from '@components/LeaveNoTraceSmall.astro';
import TeamList from '@components/TeamList.astro';
import Layout from '@layouts/Layout.astro';
import OldPhotos from '@components/OldPhotos.vue';
---

<Layout title="About">
  <div class="relative mt-16 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto mb-6 max-w-prose text-lg">
      <h1 class="mb-8 mt-2 text-center text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10">About Friends of Ute Valley Park</h1>
      <img class="mx-auto my-12 block h-64 w-auto" src="/images/logo-medium.jpg" alt="Friends of Ute Valley logo" />
      <div class="prose lg:prose-xl">
        <h2>Our Mission</h2>
        <p>
          Friends of Ute Valley Park (FUVP) is an officially recognized "Friends" organization dedicated to maintaining, preserving, and providing education for Ute Valley Park in Colorado Springs. We
          work in partnership with the city's Parks, Recreation, and Cultural Services Department to care for this treasured community resource.
        </p>
        <h2>History of FUVP</h2>
        <p>
          FUVP was formed in 2012 when we learned the City had an opportunity to purchase an additional 205 acres to expand Ute Valley Park. The City hoped to fund the purchase through the Trails,
          Open Spaces, and Parks (TOPS) program, and saw having a "Friends" group in place as a way to demonstrate community support. With the help of FUVP, the Trust for Public Land, and TOPS, the
          city was able to acquire the land in 2014-15. FUVP raised $110,000 in just 3.5 months to contribute to the purchase.
        </p>
        <h2>What We Do</h2>
        <p>
          Under the guidance of the community-created <a href="https://coloradosprings.gov/sites/default/files/parks_recreation_and_cultural_services/parks/15.03.12_ute_mmp.pdf"
            >Ute Valley Park Master & Management Plan</a
          >, FUVP:
        </p>

        <ul>
          <li>Conducts trail maintenance twice a month</li>
          <li>Leads special maintenance and cleanup projects</li>
          <li>Raises funds to support park improvements</li>
          <li>Provides education about the park's ecology and history</li>
          <li>Advocates for the protection and stewardship of UVP</li>
        </ul>

        <h2>Community Support</h2>
        <p>Since our formation, support for our efforts in maintaining the entire 550 acres of park land, has been both passionate and overwhelming.</p>
        <p>
          The outpouring of community support for our work has been both passionate and overwhelming. People love UVP for the beauty, serenity, and recreational opportunities it offers, from hiking to
          biking and beyond.
        </p>
        <h2>Awards and Recognition</h2>
        <p>Over the years, FUVP has been honored to receive numerous awards recognizing our impactful work in the park.</p>
        <ul>
          <li>2022 - TOSC Best Friends group</li>
          <li>2020 - Christine Thomas Parks, Recreation, and Cultural Services Volunteer of the Year Winner</li>

          <li>2023 - Drew Town Parks, Recreation, and Cultural Services Volunteer of the Year Nomination</li>
          <li>2019 - David J Collas Community Service Award from the Colorado Springs Fire Department</li>
          <li>2014 - Friends Group of the Year by Parks, Recreation, and Cultural Services</li>
          <li>2014 - City Council Resolution Thanking FUVP for their part in helping to acquire the 203 Ute Valley Open Space</li>
          <li>2013 - TOSC Stewardship Award</li>
          <li>Dan Woods SuperGroup MVP Award</li>
        </ul>
        <h2>Our Structure</h2>
        <p>
          FUVP operates as a committee under the fiscal sponsorship of the Trails and Open Spaces Coalition (TOSC). This arrangement minimizes our operating costs and allows us to utilize TOSC's
          501(C)(3) non-profit status as we pursue our mission.
        </p>
        <h2>How You Can Help</h2>
        <p>Join us in being a steward of Ute Valley Park! Here are two key ways you can support our efforts:</p>

        <ul>
          <li><a href="/volunteer/">Volunteer</a>: Check out our upcoming park maintenance events and fundraisers on the Volunteer page. We'd love to have you join us in the park!</li>
          <li>
            <a href="/donate/">Donate</a>: Help fund our park improvement projects and educational work by making a donation today. It's easy to contribute on our Donate page. Every gift makes a
            difference!
          </li>
        </ul>

        <p>
          As a local community organization, we volunteer our time to care for Ute Valley Park for the benefit of our whole community and the entire Pikes Peak region. Thank you for your support as we
          work together to steward this land we all love.
        </p>
      </div>
    </div>
    <TeamList />
    <OldPhotos client:visible />

    <div class="mt-8">
      <h2 class="mb-8 mt-2 text-center text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10">1983 Colorado Front Range Inactive Coal Mine Data (El Paso County)</h2>
      <img src="/images/colorado-land-survey-preview.jpg" />
      <div class="mt-1 text-center text-sm text-gray-600">
        <a href="/images/maps/colorado-springs-coal-mine-survey.pdf" download>Download (14.8 mb)</a>
      </div>
    </div>

    <LeaveNoTraceSmall />
  </div>
</Layout>
