---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Assets">
  <div class="bg-white">
    <div class="max-w-7xl mx-auto">
      <h1 class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-green-900 sm:text-4xl sm:leading-10">Logos</h1>
      <div class="sm:grid grid-cols-2 gap-3">
        <div>
          <img class="mx-auto h-64" src="/images/logo-small.jpg" alt="small logo" />
          <p class="text-sm text-gray-600 text-center">Small logo</p>
        </div>
        <div>
          <img class="mx-auto h-64" src="/images/logo-medium.jpg" alt="small logo" />
          <p class="text-sm text-gray-600 text-center">Medium logo</p>
        </div>
        <div>
          <img class="mx-auto h-64" src="/images/logo-full.jpg" alt="small logo" />
          <p class="text-sm text-gray-600 text-center">Full size logo</p>
        </div>
        <div>
          <img class="mx-auto h-64" src="/images/logo-full-uncompressed.jpg" alt="small logo" />
          <p class="text-sm text-gray-600 text-center">Full size logo uncompressed</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
