---
import Layout from '@layouts/Layout.astro';
import ContactForm from '@components/ContactForm.vue';
import TeamList from '@components/TeamList.astro';
import { TURNSTILE_SITE_KEY } from 'astro:env/client';
---

<Layout title="Contact">
  <div class="mt-2">
    <ContactForm client:idle turnstileSiteKey={TURNSTILE_SITE_KEY} />
    <TeamList />
  </div>
</Layout>

<script is:inline src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
