---
import Layout from '@layouts/Layout.astro';
import ContactForm from '@components/ContactForm.vue';
import TeamList from '@components/TeamList.astro';
import { TURNSTILE_SITE_KEY } from 'astro:env/client';
---

<Layout title="Contact">
  <main class="bg-stone-50">
    <ContactForm client:idle turnstileSiteKey={TURNSTILE_SITE_KEY} />
    
    <div class="border-t border-stone-300">
      <TeamList />
    </div>
  </main>
</Layout>