---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import CheckBadgeIcon from '~icons/heroicons/check-badge';

const benefits = ['Expanded trails', 'Trail maintenance', 'Wayfinding signage and facilities', 'New tools', 'Educational programs', 'Conservation efforts'];
import VolunteerHeroImage from '../assets/images/volunteer-hero.jpg';
---

<Layout title="Donate">
  <div class="mt-1 bg-white">
    <div class="relative isolate overflow-hidden bg-linear-to-b from-green-100/20">
      <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-16 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-20">
        <div class="px-6 lg:px-0 lg:pt-4">
          <div class="mx-auto max-w-2xl">
            <div class="max-w-lg">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Dear Friends of Ute Valley Park,</h1>
              <div class="mt-10 block flex justify-center lg:hidden">
                <a
                  href="https://trailsandopenspacecoalition-bloom.kindful.com/embeds/65db98e0-d794-4712-bf37-144689d58de3"
                  class="rounded-md border border-transparent bg-green-900 px-5 py-3 text-base font-medium text-white transition duration-150 ease-in-out hover:bg-green-800 focus:outline-hidden focus:ring-3">
                  Donate Now
                </a>
              </div>
              <p class="mt-6 text-lg leading-8 text-gray-600">
                We need your help to continue our mission of maintaining and expanding the amazing trails and open spaces at Ute Valley Park. Your tax-deductible donation to the Friends of Ute Valley
                Park will directly support critical initiatives such as building new trails, acquiring additional tools and resources for conservation, and providing educational programs that connect
                our community with nature.
              </p>
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Every contribution, no matter the size, makes a real difference in preserving this treasured resource for generations to come. Please consider making a donation today and becoming a
                champion for Ute Valley Park. <span class="font-bold">Thank you for your generosity and support!</span>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
          <Image src={VolunteerHeroImage} alt="" class="shadow-lg md:rounded-3xl" width={1000} />
        </div>
      </div>
      <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-linear-to-t from-white sm:h-32"></div>
    </div>
  </div>
  <div class="mt-2 bg-gray-100">
    <div class="pt-12 sm:pt-16 lg:pt-20">
      <div class="mx-auto max-w-(--breakpoint-xl) px-4 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2 class="text-3xl font-extrabold text-green-800 sm:text-4xl lg:text-5xl">Donate to Friends of Ute Valley Park</h2>
          <p class="mt-4 text-2xl text-green-700">Your donation will help expand trails and protect open spaces for all to enjoy</p>
        </div>
      </div>
    </div>
    <div class="mt-8 bg-white pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
      <div class="relative">
        <div class="absolute inset-0 h-1/2 bg-gray-100"></div>
        <div class="relative mx-auto max-w-(--breakpoint-xl) px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-lg overflow-hidden rounded-lg shadow-lg lg:flex lg:max-w-none">
            <div class="flex-1 bg-white px-6 py-8 lg:p-12">
              <h3 class="text-2xl font-bold text-gray-900 sm:text-3xl">Support Ute Valley Park via Trails and Open Space Coalition</h3>
              <p class="mt-6 text-base text-gray-500">Trails and Open Space Coalition is the fiscal sponsor of Friends Of Ute Valley Park.</p>
              <div class="mt-8">
                <div class="flex items-center">
                  <h4 class="shrink-0 bg-white pr-4 text-sm font-semibold uppercase tracking-wider text-green-700">What you are supporting</h4>
                  <div class="flex-1 border-t-2 border-gray-200"></div>
                </div>
                <ul class="mt-8 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-5">
                  {
                    benefits.map((benefit) => (
                      <li class="my-2 flex items-start md:mt-0 lg:col-span-1">
                        <div class="shrink-0">
                          <CheckBadgeIcon class="h-6 w-6 text-green-600" aria-hidden="true" />
                        </div>
                        <p class="ml-3 text-sm text-gray-700">{benefit}</p>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
            <div class="bg-gray-50 px-6 py-8 text-center lg:flex lg:shrink-0 lg:flex-col lg:justify-center lg:p-12">
              <p class="text-xl font-bold text-green-700">Be a park hero - donate today!</p>
              <div class="mt-6">
                <div class="rounded-md shadow-sm">
                  <a
                    href="https://trailsandopenspacecoalition-bloom.kindful.com/embeds/65db98e0-d794-4712-bf37-144689d58de3"
                    class="flex items-center justify-center rounded-md border border-transparent bg-green-900 px-5 py-3 text-base font-medium text-white transition duration-150 ease-in-out hover:bg-green-800 focus:outline-hidden focus:ring-3">
                    Donate Now
                  </a>
                </div>
              </div>
              <div class="my-4 text-sm">
                <a href="https://trailsandopenspacecoalition-bloom.kindful.com/embeds/65db98e0-d794-4712-bf37-144689d58de3" class="font-medium text-gray-900">
                  <svg id="Layer_1" class="mx-auto w-64" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 484.2 201.5" xml:space="preserve">
                    <title>Trails and Open Space Logo</title>
                    <path
                      class="st0"
                      d="M234.9 43.4h-18.5v135.4h-17.2V43.4h-17.6V26.3h53.3v17.1zM269 178.9c-13 0-19.4-6.4-19.4-19.4V45.7c0-13 6.4-19.4 19.4-19.4h18.5c13 0 19.4 6.4 19.4 19.4v113.7c0 13-6.4 19.4-19.4 19.4H269zm-2.3-17.2h23.1V43.4h-23.1v118.3zM342.4 124.9v36.8h23.1v-36.4c0-3.4-.2-5.5-.7-6.4-.5-.9-1.6-1.8-3.4-2.5l-25.8-9.8c-4.1-1.6-6.9-3.9-8.2-7.1-1.4-3.2-2.1-8.7-2.1-16.5V45.7c0-13 6.4-19.4 19.4-19.4h18.5c13 0 19.4 6.4 19.4 19.4V81h-17.2V43.4h-23.1v40.3c0 3.9.2 6.2.9 7.1.5.9 1.8 1.8 4.1 2.7l23.6 8.7c4.8 1.6 7.8 3.9 9.4 6.6s2.3 7.3 2.3 13.7v36.8c0 13-6.4 19.4-19.4 19.4h-18.5c-13 0-19.4-6.4-19.4-19.4v-34.5h17.1zM458.4 159.4c0 13-6.4 19.4-19.4 19.4h-18.5c-13 0-19.4-6.4-19.4-19.4V45.7c0-13 6.4-19.4 19.4-19.4H439c13 0 19.4 6.4 19.4 19.4v38.2h-17.2V43.4h-23.1v118.3h23.1v-40.9h17.2v38.6z"
                    ></path>
                    <g>
                      <path
                        class="st0"
                        d="M114.2 92.4l-9.3.5-1.8-11-12.4-18.3s-5.6 10.5-6.4 12.2c-2.9 6.5-10.8 22.6-1 36.1 2.1 3 5 5.1 10.2 5.1 1.4 0 2.8-.2 4.1-.6 3.4-.9 7-4.2 31.9-11.4l-15.3-12.6zM127.6 80.5l36.3 24.8c0-.9 0-1.7.1-2.6.1-4.3-.7-8.8-.9-10.8l-30.5-20.1-5 8.7zM68.2 78.9L48.9 111c2.1.7 7.2 2.6 9.6 3.2l17.9-29.7-8.2-5.6z"
                      ></path>
                      <path
                        class="st0"
                        d="M157.6 104.9L92.2 61 106 79.9l1.9 9.2 7.3-.6 19.1 15.5c6.2-.6 19-.1 23.3.9zM85.7 118.5c-.3-.4-14.3-13.6-9.7-27.8l-13.3 24.1c6.8 2.1 22.3 3.7 23 3.7zM96.4 124.9c-6.9 5.1-18.7 31.3 19 39.3 18-4.6 44.1-19.7 48.2-55.7-31-1.6-42.9-1.6-67.2 16.4z"
                      ></path>
                      <path
                        d="M43.9 108.9c.5.3 1 .6 1.6.8l21.9-34.9 10.4 6.9 12.9-26.4L125 78.7l7-11 30.1 19.8c-6.8-27.6-31.7-48.1-61.4-48.1-34.9 0-63.1 28.2-63.3 63 0 0 2.7 4.4 6.5 6.5z"
                        fill="#e36a2a"></path>
                      <path
                        class="st0"
                        d="M100.7 26.3c-42.2 0-76.3 34.2-76.3 76.3S58.6 179 100.7 179s76.3-34.2 76.3-76.3-34.1-76.4-76.3-76.4zm49.5 125.8c-6.4 6.4-13.9 11.5-22.3 15-8.6 3.7-17.8 5.5-27.3 5.5s-18.6-1.9-27.3-5.5c-8.3-3.5-15.8-8.6-22.3-15-6.4-6.4-11.5-13.9-15-22.3-3.7-8.6-5.5-17.8-5.5-27.3s1.9-18.6 5.5-27.3c3.5-8.3 8.6-15.8 15-22.3s13.9-11.5 22.3-15c8.6-3.7 17.8-5.5 27.3-5.5s18.6 1.9 27.3 5.5c8.3 3.5 15.8 8.6 22.3 15s11.5 13.9 15 22.3c3.7 8.6 5.5 17.8 5.5 27.3s-1.9 18.6-5.5 27.3c-3.5 8.4-8.5 15.9-15 22.3z"
                      ></path>
                      <path class="st0" d="M83.2 121.6c-31.5-1.9-45-14.3-45.7-14.8 1.9 14.3 5.1 27.1 20.4 42.3 1.4-7.9 10.9-19.6 25.3-27.5z"></path>
                    </g>
                  </svg>
                </a>
              </div>
              <p class="mt-4 text-sm font-medium text-gray-600">
                Want to donate your time? <a href="/volunteer/" class="block font-semibold text-green-600 underline">Check out our volunteer opportunities!</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
