---
import Layout from '@layouts/Layout.astro';
import LeaveNoTraceSmall from '@components/LeaveNoTraceSmall.astro';

const faqs = [
  {
    question: 'How do I find my way around UVP? I am always getting lost.',
    answer:
      'Please download the <a class="font-semibold text-green-600 no-underline" href="/visit">map</a> or take a picture of our new trail map before you head out on the trail and always remember the parking lot that you parked in; we have several to choose from.',
  },
  {
    question: 'What are the park hours?',
    answer: '5am - 9pm from Nov 1 through April 30. 5am - 10pm May 1 through Oct 31',
  },
  {
    question: 'Where can I park my car?',
    answer: 'Please see our <a class="font-semibold text-green-600 no-underline" href="/visit">visit</a> page for trailhead information.',
  },
  {
    question: 'Are there bathroom facilities available?',
    answer: 'There is a portable bathroom available at the Vindicator and South Rockrimmon parking lots.',
  },
  {
    question: 'What wildlife will I see?',
    answer:
      'We have abundant wildlife to watch out for; deer, bobcat, bear, mountain lions, pack rats, mice and we are famous for our Rattlesnakes.  Please respect their habituate by staying on the trails at all times, giving wildlife abundant space, NEVER try to engage with our wild family.',
  },
  {
    question: 'I saw a rattlesnake. What should I do?',
    answer: 'Ute Valley Park is a open space and wildlife lives there. Stay calm, back away and do not agitate it. Please stay on the trails!',
  },
  {
    question: 'How do I get involved with Ute Valley Park?',
    answer: 'Please see our <a class="font-semibold text-green-600 no-underline" href="/volunteer">volunteer</a> page.',
  },
];
---

<Layout title="FAQ">
  <div class="bg-white mt-16">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-gray-900">Frequently asked questions</h2>

      <div class="mt-6 border-t border-gray-200 pt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12">
          {
            faqs.map((faq) => (
              <div class="space-y-2">
                <dt class="text-xl font-medium text-gray-900">{faq.question}</dt>
                <dd class="text-base text-gray-500" set:html={faq.answer} />
              </div>
            ))
          }
        </dl>
      </div>
      <LeaveNoTraceSmall />
    </div>
  </div>
</Layout>
