---
import { endOfDay, isFuture } from 'date-fns';

import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';
import VolunteerItem from '@components/VolunteerItem.vue';
import LeaveNoTraceSmall from '@components/LeaveNoTraceSmall.astro';
import ContactForm from '@components/ContactForm.vue';
import EmailForm from '@components/EmailForm.vue';
const volunteerEvents = await Astro.glob('./events/*.md');
const upcomingVolunteerEvents = volunteerEvents.filter((e) => isFuture(endOfDay(new Date(e.frontmatter.date))));

import VolunteerHeroImage from '../assets/images/volunteer-hero-mask.jpg';

const meetingLocations = await Astro.glob('./trailheads/*.md');
---

<Layout title="Volunteer">
  <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <Image src={VolunteerHeroImage} alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center" width={1500} />

    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
      <div
        class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
      <div
        class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Work with us</h2>
        <p class="mt-6 text-lg leading-8 text-gray-200">
          Join our volunteer efforts at Ute Valley Park to maintain and enhance the trails, meet fellow park enthusiasts, and give back to the park that provides so much enjoyment for the community.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      {
        upcomingVolunteerEvents.length > 0 && (
          <>
            <h2 class="text-3xl font-bold tracking-tight text-green-800 sm:text-4xl">Upcoming volunteer events</h2>
            <div class="px-4 py-5">
              <ul class="divide-y divide-gray-100">
                {upcomingVolunteerEvents.map((volunteerEvent) => (
                  <li class="my-5 flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
                    <VolunteerItem meeting-locations={meetingLocations} volunteer-event={volunteerEvent} client:idle />
                  </li>
                ))}
              </ul>
            </div>
          </>
        )
      }

      <div class="mt-8 border-b border-gray-200 pb-5 pt-4">
        <h3 class="text-3xl font-medium leading-6 text-green-900">Learn More About Volunteering in Ute Valley Park</h3>
      </div>
      <div class="border-gray-200 pt-8 xl:grid xl:grid-cols-3 xl:gap-x-8">
        <div>
          <img src="/images/volunteer-3.jpg" class="rounded-lg object-cover shadow" alt="" />
        </div>
        <div class="col-span-2">
          <ul class="ml-4 list-disc divide-y divide-gray-200 text-gray-700">
            <li class="py-3"><span class="font-bold">Volunteer days:</span> the 1st and 3rd Wednesday of every month, 5:30-7:30 p.m. April through September.</li>
            <li class="py-3">
              Crew leaders maybe schedule additional volunteer days. Please check our website, the FUVP <a
                href="https://www.facebook.com/FriendsOfUteValleyPark/"
                class="font-semibold text-green-700 no-underline"
                >Facebook
              </a>
              page or register for our newsletter below for additional volunteer opportunities, meeting locations and updates.
            </li>
            <li class="py-3">
              Volunteer and get a free beverage, stickers and buttons! After 4 hours of volunteer work you will receive a free beverage (beer or non-alcoholic) at our end of year appreciation party.
            </li>
            <li class="py-3">All tools provided.</li>
            <li class="py-3 font-semibold">You must wear pants and closed toed shoes and please bring gloves and safety goggles or sunglasses.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-16">
    <div class="mx-auto grid max-w-7xl grid-cols-1 gap-10 px-6 lg:grid-cols-12 lg:gap-8 lg:px-8">
      <div class="max-w-xl text-2xl font-bold text-gray-900 sm:text-4xl lg:col-span-6">
        <h2 class="inline tracking-tight sm:block lg:inline xl:block">Get Notified!</h2>
        <p class="inline text-base font-normal sm:block lg:inline xl:block">Sign up for our newsletter to receive volunteer events right in your inbox.</p>
      </div>
      <div class="w-full md:max-w-xl lg:col-span-6 lg:max-w-md lg:pt-2">
        <EmailForm client:idle />
      </div>
    </div>
  </div>

  <LeaveNoTraceSmall />

  <ContactForm default-option="Volunteer" client:visible>
    <Fragment slot="title">
      <h2 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10">Contact us for more information!</h2>
    </Fragment>
    <Fragment slot="subtitle">Help make Ute Valley Park better by volunteering.</Fragment>
  </ContactForm>
</Layout>
