---
import Layout from '../layouts/Layout.astro';
import VolunteerItem from '../components/VolunteerItem.vue';
import LeaveNoTraceSmall from '../components/LeaveNoTraceSmall.astro';
import ContactForm from '../components/ContactForm.vue';
const volunteerEvents = await Astro.glob('./events/*.md');
const upcomingVolunteerEvents = volunteerEvents.filter((e) => new Date(e.frontmatter.date) > new Date());

const meetingLocations = await Astro.glob('./trailheads/*.md');
---

<Layout title="Volunteer">
  <div class="bg-white">
    <div class="max-w-7xl mx-auto">
      <div class="bg-gradient-to-r from-green-500 to-teal-500 sm:rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
        <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
          <div class="lg:self-center">
            <h2 class="font-extrabold text-white">
              <span class="block text-5xl mb-3">Ready to help?</span>
              <span class="block text-green-900 text-3xl">Give back to the park you love</span>
            </h2>
            <p class="mt-4 text-lg leading-6 text-green-50">Volunteer at Ute Valley Park to improve the trails, make friends and give back to your favorite park.</p>
          </div>
        </div>
        <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
          <img src="/images/volunteer-2.jpg" class="transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" alt="Volunteers raking mulch" />
        </div>
      </div>
    </div>

    <div>
      <div class="max-w-screen-xl mx-auto py-8 sm:py-12 px-4 sm:px-6 lg:px-8">
        {
          upcomingVolunteerEvents.length > 0 && (
            <div class="mb-12">
              <div class="mb-5">
                <h3 class="text-3xl leading-6 font-medium text-green-900">Upcoming Volunteer Events</h3>
              </div>
              <div class="bg-white shadow overflow-hidden sm:rounded-md">
                <ul class="divide-y divide-gray-200">
                  {upcomingVolunteerEvents.map((volunteerEvent) => (
                    <VolunteerItem meeting-locations={meetingLocations} volunteer-event={volunteerEvent} client:idle />
                  ))}
                </ul>
              </div>
            </div>
          )
        }

        <div class="pb-5 border-b border-gray-200 pt-4">
          <h3 class="text-3xl leading-6 font-medium text-green-900">Learn More</h3>
        </div>
        <div class="border-gray-200 pt-8 xl:grid xl:grid-cols-3 xl:gap-x-8">
          <div>
            <img src="/images/volunteer-3.jpg" class="object-cover rounded-lg shadow" />
          </div>
          <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:mt-0 xl:col-span-2">
            <ul class="divide-y divide-gray-200">
              <li class="py-4 flex space-x-3 md:py-0 md:pb-4">
                <svg class="flex-shrink-0 h-6 w-6 text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <span class="text-base text-gray-500">Volunteer days: the 1st and 3rd Wednesday of every month, 5:30 – 7:30 p.m. April through September.</span>
              </li>
              <li class="py-4 flex space-x-3">
                <svg class="flex-shrink-0 h-6 w-6 text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <span class="text-base text-gray-500"
                  >Crew leaders schedule additional volunteer days. Check the FUVP <a href="https://www.facebook.com/FriendsOfUteValleyPark/" class="text-green-600 font-semibold no-underline"
                    >Facebook
                  </a> page for volunteer opportunities, meeting locations and updates.
                </span>
              </li>
            </ul>
            <ul class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
              <li class="py-4 flex space-x-3 md:border-t-0 md:py-0 md:pb-4">
                <svg class="flex-shrink-0 h-6 w-6 text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <span class="text-base text-gray-500"
                  >Volunteer and get a free water bottle and T-shirt! After 4 hours of volunteer work you’ll receive a Friends of Ute Valley Park logo t-shirt and water bottle. <span
                    class="text-grey-600 text-sm"
                    >Limit 1 water bottle and t-shirt per volunteer.
                  </span>
                </span>
              </li>
              <li class="py-4 flex space-x-3">
                <svg class="flex-shrink-0 h-6 w-6 text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <span class="text-base text-gray-500">All tools provided</span>
              </li>
              <li class="py-4 flex space-x-3">
                <svg class="flex-shrink-0 h-6 w-6 text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <span class="text-base text-gray-500">Please wear closed toed shoes</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <LeaveNoTraceSmall />

    <ContactForm default-option="Volunteer" client:visible>
      <Fragment slot="title">Contact us for more information!</Fragment>
      <Fragment slot="subtitle">Help make Ute Valley Park better by volunteering.</Fragment>
    </ContactForm>
  </div>
</Layout>
