---
export interface Props {
  title: string;
  image: ImageMetadata;
  previewText: string;
  href: string | undefined;
  publishedOn: Date;
  canBeWide?: boolean | undefined;
}

const { title, image, publishedOn, href } = Astro.props as Props;

export function getStaticPaths() {
  return [{ params: { news: title } }];
}

import { Image } from 'astro:assets';
---

<article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-200 ease-in-out">
  <Image src={image} width={600} quality="70" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
  <div class="absolute inset-0 -z-10 bg-linear-to-t from-gray-900 via-gray-900/40"></div>
  <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>

  <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
    <time datetime={publishedOn.toString()} class="mr-8">{new Intl.DateTimeFormat('en-US').format(new Date(publishedOn))}</time>
  </div>
  <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
    <a href={'/news/' + href}>
      <span class="absolute inset-0"></span>
      {title}
    </a>
  </h3>
</article>

<style></style>
