---
import { Picture } from "astro:assets";
import EngagementPanel from "./EngagementPanel.astro";
import lntLogo from "../assets/images/logos/leave-no-trace.jpg";
---

<EngagementPanel>
  <h2
    slot="heading"
    class="block text-4xl font-extrabold tracking-tight text-white sm:text-5xl"
  >
    Leave No Trace
  </h2>
  <Fragment slot="description">
    <p
      class="border-b-2 border-green-400/30 pb-2 text-xl font-semibold text-green-100"
    >
      Ute Valley Park proudly supports The 7 Principles of Leave No Trace.
    </p>
    <p class="mt-3 text-base text-green-50/90">
      Please read and always obey the
      <a
        href="/rules/"
        class="inline-block font-bold text-amber-400 underline decoration-amber-400/50 hover:text-amber-300"
      >
        rules</a
      >
      of Ute Valley Park.
    </p>
  </Fragment>

  <div
    slot="main"
    class="mx-auto w-64 rounded-md bg-white p-8 shadow-sm focus-within:ring-2 focus-within:ring-green-100"
  >
    <a href="https://www.lnt.org">
      <Picture
        src={lntLogo}
        alt="Leave No Trace logo"
        width="192"
        height="100"
        class="h-auto w-64"
      />
    </a>
  </div>
</EngagementPanel>
