---
import InstagramIcon from "~icons/mdi/instagram";
import FacebookIcon from "~icons/mdi/facebook";
---

<span class="mx-1 inline-flex space-x-2">
  <a
    href="https://www.facebook.com/FriendsOfUteValleyPark"
    class="text-primary-dark focus-within:ring-2 focus-within:ring-primary-light hover:text-primary-light focus:outline-hidden"
  >
    <span class="sr-only">Facebook</span>
    <FacebookIcon class="h-4 w-4" aria-hidden="true" />
  </a>
  <a
    href="https://www.instagram.com/friendsofutevalleypark/"
    class="text-primary-dark focus-within:ring-2 focus-within:ring-primary-light hover:text-primary-light focus:outline-hidden"
  >
    <span class="sr-only">Instagram</span>
    <InstagramIcon class="h-4 w-4" aria-hidden="true" />
  </a>
</span>
