---
import InstagramIcon from '~icons/mdi/instagram';
import FacebookIcon from '~icons/mdi/facebook';
---

<span class="mx-1 mt-1 inline-flex space-x-2">
  <a href="https://www.facebook.com/FriendsOfUteValleyPark" class="text-gray-600 focus-within:ring-2 focus-within:ring-green-500 hover:text-gray-500 focus:outline-none">
    <span class="sr-only">Facebook</span>
    <FacebookIcon class="h-5 w-5" aria-hidden="true" />
  </a>
  <a href="https://www.instagram.com/friendsofutevalleypark/" class="text-gray-600 focus-within:ring-2 focus-within:ring-green-500 hover:text-gray-500 focus:outline-none">
    <span class="sr-only">Instagram</span>
    <InstagramIcon class="h-5 w-5" aria-hidden="true" />
  </a>
</span>
