---
import InstagramIcon from '~icons/mdi/instagram';
import FacebookIcon from '~icons/mdi/facebook';
import GithubIcon from '~icons/mdi/github';
---

<div class="relative flex space-x-4">
  <a href="https://www.facebook.com/FriendsOfUteValleyPark" class="p-2 border border-stone-300 text-stone-500 hover:text-primary hover:border-primary transition-all bg-white" target="_blank" rel="noopener noreferrer">
    <span class="sr-only">Facebook</span>
    <FacebookIcon class="h-5 w-5" aria-hidden="true" />
  </a>
  <a href="https://www.instagram.com/friendsofutevalleypark/" class="p-2 border border-stone-300 text-stone-500 hover:text-secondary hover:border-secondary transition-all bg-white" target="_blank" rel="noopener noreferrer">
    <span class="sr-only">Instagram</span>
    <InstagramIcon class="h-5 w-5" aria-hidden="true" />
  </a>
  <a href="https://github.com/friends-of-ute-valley-park/friends-of-ute-valley" class="p-2 border border-stone-300 text-stone-500 hover:text-stone-900 hover:border-stone-900 transition-all bg-white" target="_blank" rel="noopener noreferrer">
    <span class="sr-only">Github</span>
    <GithubIcon class="h-5 w-5" aria-hidden="true" />
  </a>
</div>
