---
const stats = [
  { id: 1, name: 'Individual volunteers', value: '130' },
  { id: 2, name: 'Total volunteer hours', value: '538' },
  { id: 3, name: 'Instagram followers', value: '1,900' },
  { id: 4, name: 'Community survey responses', value: '105' },
];

import { Image } from 'astro:assets';
import Volunteers from '@/assets/images/volunteer-6.jpg';
---

<div class="relative bg-white">
  <Image src={Volunteers} alt="" class="h-96 w-full bg-gray-50 object-cover object-top md:h-128 lg:absolute lg:inset-y-0 lg:left-0 lg:h-56 lg:h-full lg:w-1/2" />
  <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
    <div class="px-6 pt-16 pb-24 sm:pt-20 sm:pb-32 lg:col-start-2 lg:px-8 lg:pt-32">
      <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
        <h2 class="text-base leading-8 font-semibold text-green-600">2024 FUVP Statistics</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What we accomplished</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          In 2024, the Friends of Ute Valley Park (FUVP) made significant strides in preserving and enhancing our beloved community treasure. Through the dedication of our volunteers and supporters,
          we've achieved remarkable results:
        </p>
        <dl class="mt-16 grid max-w-xl grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 xl:mt-16">
          {
            stats.map((stat) => (
              <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                <dt class="text-sm leading-6 text-gray-600">{stat.name}</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</div>
