---
import { Image } from 'astro:assets';
import UserCircleIcon from '~icons/heroicons/user-circle';

const teamMembers = [
  { name: 'Drew Town', title: 'Chair', image: import('@/assets/images/members/drew-town.png') },
  { name: 'Christine Thomas', title: 'Vice-Chair', image: import('@/assets/images/members/christine-thomas.jpg') },
  { name: 'Megan Town', title: 'Treasurer', image: import('@/assets/images/members/megan-town.jpg') },
  { name: 'Molly Murrow', title: 'Secretary', image: import('@/assets/images/members/molly-murrow.jpg') },
  { name: 'Phill Emmert', title: 'Communications', image: import('@/assets/images/members/phill-emmert.jpg') },
  { name: 'Frank Self', title: 'Committee Member', image: import('@/assets/images/members/frank-self.jpg') },
  { name: 'Haley Kline Murphy', title: 'Outreach and Engagement Specialist', image: import('@/assets/images/members/haley-kline-murphy.jpg') },
  { name: 'Pete Galeotti', title: 'Outreach and Engagement Specialist', image: import('@/assets/images/members/pete-galeotti.jpg') },
  { name: 'Katie Gray', title: 'Nature and Trail Specialist', image: import('@/assets/images/members/katie-gray.jpg') },
  { name: 'Nadine Lambert', title: 'Volunteer Coordinator', image: import('@/assets/images/members/nadine-lambert.jpg') },
];
---

<div class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 text-center sm:px-6 lg:px-8">
    <div class="space-y-8 sm:space-y-12">
      <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
        <h2 class="text-3xl font-extrabold leading-9 tracking-tight sm:text-4xl">Get to Know Our Team</h2>
        <p class="text-lg leading-7 text-gray-500">
          Meet the dedicated team of Friends of Ute Valley Park, who work hard to preserve the natural beauty of this cherished community resource and make it enjoyable for everyone.
        </p>
      </div>
      <ul class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12">
        {
          teamMembers.map((teamMember) => (
            <li>
              <div class="space-y-4">
                {teamMember.image !== null ? (
                  <Image height="128" width="128" class="mx-auto h-20 w-20 rounded-full lg:h-24 lg:w-24" src={teamMember.image} alt="" />
                ) : (
                  <UserCircleIcon class="mx-auto h-20 w-20 text-green-800 lg:h-24 lg:w-24" />
                )}

                <div class="space-y-2">
                  <div class="text-xs font-medium leading-4 lg:text-sm lg:leading-5">
                    <h4>{teamMember.name}</h4>
                    <p class="text-green-700">{teamMember.title}</p>
                  </div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
